.btn
  padding padding
  background-color white
  color primary
  border 0
  box-shadow 0 1px 2px 0 #ccc
  transition .2s all ease-in-out
  margin padding*2 0
  &:hover
    background-color primary
    color white
