.Layout
  background-color bg
  display flex
  min-height 100vh
  &-sidebar
    width 15%
    padding padding*2
    display flex
    flex-direction column
    justify-content center
  &-main
    padding padding*2
